template(name="home")
	h1 Yojimbos

	h3
		a(href="battle") battle

	h3 units list
	each units
		a(href="/units/#{this}") 
			img(src="/units/icon100/#{this}_deck.png" class="rounder" height='100' width='100')


	hr
	button#btn1(value="click") check

	+footer